<div class="control-group">
  <label class="control-label" for="who">Who</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="who" id="who" placeholder="Who" required="false"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="what">What</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="what" id="what" placeholder="What" required="false"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="Where">Where</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="where" id="where" placeholder="Where" required="false"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="when">When</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="when" id="when" placeholder="When" required="false"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="why">Why</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="why" id="why" placeholder="When" required="false"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="notes">Notes</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="notes" id="notes" placeholder="Notes"}}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="status">Status</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="status" id="status" placeholder="Status" required="false"}}
  </div>
</div>
